body {
 background-color: rgb(103, 155, 201);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 font-weight: normal;
line-height: 1.6em;
margin: 0%;
}
.box-1{background-color: bisque;
color: black; width: 80%; margin: auto; border: 5px rgb(28, 171, 152) solid;
border-width: 10px;
border-style: ridge;
padding: 30px;
margin-top: 20px;

}
.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ; font-style: italic; text-decoration: underline; text-align: center;
}
.box-2 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ; font-style: italic; text-decoration: underline; text-align: center;
}
.box-2{background-color: bisque;
    color: black; width: 80%; margin: auto; border: 5px rgb(28, 171, 152) solid;
    border-width: 10px;
    border-style: ridge;
    padding: 30px;
    margin-top: 20px;
}    
.container{background-color: bisque;
    color: black; width: 80%; margin: auto; border: 5px rgb(28, 171, 152) solid;
    border-width: 10px;
    border-style: ridge;
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
 
}   
.container h1{
    text-align: center;
} 
.container ul{
    list-style: none;
}
a{
color: black;
    text-decoration: none;
}
a:hover{ color: blueviolet;
}
.container li{
    padding-bottom: 8px;
    border-bottom: dotted 1px
}