body {
 background-color: rgb(219, 139, 225);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 20px;
 font-weight: normal;
line-height: 1.6em;
margin: 0%;
}
.box-1{background-color: bisque;
color: black; width: 80%; margin: auto; border: 5px rgb(28, 171, 152) solid;
border-width: 10px;
border-style: ridge;
padding: 30px;
margin-top: 20px;

}
.clr{
    clear: both;
}
.box-1 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ; font-style: italic; text-decoration: underline; text-align: center;
}
.box-2 h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    ; font-style: italic; text-decoration: underline; text-align: center;
}
.box-2{background-color: bisque;
    color: black; width: 80%; margin: auto; border: 5px rgb(28, 171, 152) solid;
    border-width: 10px;
    border-style: ridge;
    padding: 30px;
    margin-top: 20px;
}    
.container{background-color: bisque;
    color: black; width: 80%; margin: auto; border: 5px rgb(28, 171, 152) solid;
    border-width: 10px;
    border-style: ridge;
    padding: 30px;
    margin-top: 20px;
    border-radius: 15px;
 
}   
.container h1{
    text-align: center;
} 
.container ul{
    list-style: none;
}
a{
color: black;
    text-decoration: none;
}
a:hover{ color: blueviolet;
}
.container li{
    padding-bottom: 8px;
    border-bottom: dotted 1px
}
.myform{
    padding:20px;
    
}

.myform .form-group{
    padding-bottom: 15px;
}
.myform label{
    display: block;
}
.myform input{
    padding: 8px;
width: 100%;}

.myform input[type="text"]{
    padding: 8px;
    width: 100%;
}
.button{background-color: black;
    color: aquamarine; padding: 10px; border: none;
}



.block{ float:left; width: 33.3%; box-sizing: border-box;
    border:1px solid rgb(255, 255, 255)
    
}

#main-block{
    float:left; color: antiquewhite;
    width: 70%;
}
#sidebar{float: right;
width: 30%; background-color: black; color: aliceblue;
padding: 15px; box-sizing: border-box;}

.p-box{
    width: 880px; height: 500px; border: 1px solid black;
    margin-top: 30px; position: relative; background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1AQXhcQVhsboBBTfMT-RJsfGZHY5xYWxYkD4lPS4QVw&s);
color: blanchedalmond;
}
.p-box h2{
    position: absolute;
top: 100px;left: 300px;}

